h1 {
    text-align: center;   
}
h3 {
    text-align: left;
}
.firsthead {
    color: green;
}
#me {
    color: yellow;
}
p[draggable] {
    color: green;
    font-size: 16pt;
}
p[draggable="false"] {
    color: blue;
    font-size: 18px;
}
p {
    color: aqua;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}